@{
    ViewBag.Title = "About";
    Layout = "";
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <TITLE>pdf-html</TITLE>
    <META name="generator" content="BCL easyConverter SDK 5.0.252">
    <META name="author" content="Microsoft Office User">
    <STYLE type="text/css">

        body {
            margin-top: 0px;
            margin-left: 0px;
        }

        #page_1 {
            position: relative;
            overflow: hidden;
            margin: 97px 0px 122px 96px;
            padding: 0px;
            border: none;
            width: 697px;
        }





        #page_2 {
            position: relative;
            overflow: hidden;
            margin: 96px 0px 123px 96px;
            padding: 0px;
            border: none;
            width: 697px;
        }





        #page_3 {
            position: relative;
            overflow: hidden;
            margin: 96px 0px 786px 144px;
            padding: 0px;
            border: none;
            width: 649px;
        }





        .ft0 {
            font: bold 16px 'Times New Roman';
            text-decoration: underline;
            line-height: 19px;
        }

        .ft1 {
            font: 16px 'Times New Roman';
            line-height: 19px;
        }

        .ft2 {
            font: 16px 'Times New Roman';
            line-height: 18px;
        }

        .ft3 {
            font: 16px 'Times New Roman';
            margin-left: 4px;
            line-height: 18px;
        }

        .ft4 {
            font: 16px 'Times New Roman';
            margin-left: 4px;
            line-height: 19px;
        }

        .ft5 {
            font: 16px 'Times New Roman';
            margin-left: 33px;
            line-height: 18px;
        }

        .ft6 {
            font: 16px 'Times New Roman';
            margin-left: 28px;
            line-height: 18px;
        }

        .ft7 {
            font: 16px 'Times New Roman';
            margin-left: 12px;
            line-height: 18px;
        }

        .ft8 {
            font: 16px 'Times New Roman';
            margin-left: 12px;
            line-height: 19px;
        }

        .ft9 {
            font: 16px 'Times New Roman';
            margin-left: 13px;
            line-height: 19px;
        }

        .ft10 {
            font: 16px 'Times New Roman';
            margin-left: 8px;
            line-height: 19px;
        }

        .ft11 {
            font: 16px 'Times New Roman';
            margin-left: 24px;
            line-height: 18px;
        }

        .ft12 {
            font: 16px 'Times New Roman';
            color: #ff0000;
            line-height: 19px;
        }

        .p0 {
            text-align: left;
            padding-left: 4px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p1 {
            text-align: left;
            padding-right: 97px;
            margin-top: 17px;
            margin-bottom: 0px;
        }

        .p2 {
            text-align: left;
            padding-right: 126px;
            margin-top: 0px;
            margin-bottom: 0px;
            text-indent: 52px;
        }

        .p3 {
            text-align: left;
            padding-left: 48px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p4 {
            text-align: left;
            padding-right: 137px;
            margin-top: 17px;
            margin-bottom: 0px;
            text-indent: 4px;
        }

        .p5 {
            text-align: left;
            padding-left: 96px;
            padding-right: 126px;
            margin-top: 0px;
            margin-bottom: 0px;
            text-indent: -48px;
        }

        .p6 {
            text-align: left;
            padding-left: 96px;
            padding-right: 136px;
            margin-top: 0px;
            margin-bottom: 0px;
            text-indent: -48px;
        }

        .p7 {
            text-align: left;
            padding-right: 114px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p8 {
            text-align: left;
            padding-left: 48px;
            padding-right: 97px;
            margin-top: 15px;
            margin-bottom: 0px;
            text-indent: -24px;
        }

        .p9 {
            text-align: left;
            padding-left: 24px;
            margin-top: 4px;
            margin-bottom: 0px;
        }

        .p10 {
            text-align: left;
            padding-left: 72px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p11 {
            text-align: left;
            padding-left: 96px;
            padding-right: 119px;
            margin-top: 0px;
            margin-bottom: 0px;
            text-indent: -24px;
        }

        .p12 {
            text-align: left;
            padding-left: 144px;
            padding-right: 138px;
            margin-top: 0px;
            margin-bottom: 0px;
            text-indent: -20px;
        }

        .p13 {
            text-align: left;
            padding-left: 119px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p14 {
            text-align: left;
            padding-left: 144px;
            padding-right: 96px;
            margin-top: 0px;
            margin-bottom: 0px;
            text-indent: -29px;
        }

        .p15 {
            text-align: left;
            padding-left: 76px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p16 {
            text-align: left;
            padding-left: 96px;
            padding-right: 99px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p17 {
            text-align: left;
            padding-left: 96px;
            padding-right: 104px;
            margin-top: 16px;
            margin-bottom: 0px;
        }

        .p18 {
            text-align: left;
            padding-left: 96px;
            padding-right: 96px;
            margin-top: 1px;
            margin-bottom: 0px;
            text-indent: -48px;
        }

        .p19 {
            text-align: left;
            padding-left: 96px;
            padding-right: 146px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p20 {
            text-align: justify;
            padding-left: 48px;
            padding-right: 104px;
            margin-top: 3px;
            margin-bottom: 0px;
        }

        .p21 {
            text-align: left;
            padding-left: 48px;
            padding-right: 136px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p22 {
            text-align: justify;
            padding-left: 48px;
            padding-right: 102px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p23 {
            text-align: left;
            padding-left: 48px;
            padding-right: 102px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p24 {
            text-align: left;
            padding-left: 48px;
            padding-right: 98px;
            margin-top: 2px;
            margin-bottom: 0px;
            text-indent: 4px;
        }

        .p25 {
            text-align: left;
            padding-left: 48px;
            margin-top: 2px;
            margin-bottom: 0px;
        }

        .p26 {
            text-align: left;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p27 {
            text-align: left;
            padding-right: 118px;
            margin-top: 0px;
            margin-bottom: 0px;
            text-indent: 48px;
        }

        .p28 {
            text-align: left;
            padding-right: 135px;
            margin-top: 0px;
            margin-bottom: 0px;
            text-indent: 48px;
        }

        .p29 {
            text-align: left;
            padding-right: 105px;
            margin-top: 0px;
            margin-bottom: 0px;
            text-indent: 48px;
        }

        .p30 {
            text-align: left;
            padding-right: 113px;
            margin-top: 0px;
            margin-bottom: 0px;
            text-indent: 48px;
        }

        .p31 {
            text-align: left;
            padding-right: 99px;
            margin-top: 1px;
            margin-bottom: 0px;
            text-indent: 48px;
        }

        .p32 {
            text-align: left;
            padding-right: 123px;
            margin-top: 16px;
            margin-bottom: 0px;
        }

        .p33 {
            text-align: left;
            margin-top: 17px;
            margin-bottom: 0px;
        }

        .p34 {
            text-align: justify;
            padding-right: 100px;
            margin-top: 0px;
            margin-bottom: 0px;
            text-indent: 48px;
        }

        .p35 {
            text-align: left;
            padding-right: 117px;
            margin-top: 0px;
            margin-bottom: 0px;
            text-indent: 48px;
        }

        .p36 {
            text-align: justify;
            padding-right: 109px;
            margin-top: 2px;
            margin-bottom: 0px;
            text-indent: 48px;
        }

        .p37 {
            text-align: justify;
            padding-right: 96px;
            margin-top: 17px;
            margin-bottom: 0px;
            text-indent: 48px;
        }

        .p38 {
            text-align: left;
            padding-left: 48px;
            padding-right: 103px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p39 {
            text-align: left;
            padding-left: 48px;
            padding-right: 111px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p40 {
            text-align: left;
            padding-right: 102px;
            margin-top: 2px;
            margin-bottom: 0px;
        }

        .p41 {
            text-align: left;
            padding-right: 138px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p42 {
            text-align: left;
            padding-right: 120px;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    </STYLE>
</HEAD>

<BODY>
    <DIV id="page_1">


        <P class="p0 ft0">Informed Consent to Telehealth Services and Check Ups Policies</P>
        <P class="p1 ft1">This form describes Checkups Medical Centre Telehealth treatment and payment policies and includes:</P>
        <P class="p2 ft2"><SPAN class="ft2">•</SPAN><SPAN class="ft3">Your consent to receive medical treatment from Checkups Medical Centre (and your other rights and responsibilities);</SPAN></P>
        <P class="p3 ft1"><SPAN class="ft1">•</SPAN><SPAN class="ft4">Your agreement to receive services using telehealth technology; and</SPAN></P>
        <P class="p3 ft1"><SPAN class="ft1">•</SPAN><SPAN class="ft4">Your agreement to pay in full any charges that are your responsibility.</SPAN></P>
        <P class="p4 ft1">By typing my name and clicking “I agree to Terms of Use” on the Checkups telehealth portal, I understand and agree that I am signing this Consent electronically and that</P>
        <P class="p5 ft2"><SPAN class="ft2">(i)</SPAN><SPAN class="ft5">I have reviewed, understand and accept the risks and benefits of telehealth services as described below and wish to receive such services, and</SPAN></P>
        <P class="p6 ft2"><SPAN class="ft2">(ii)</SPAN><SPAN class="ft6">I agree to the remaining terms of this Consent, including the terms of the Checkups Medical Centre Privacy Notice described below.</SPAN></P>
        <P class="p7 ft1">If I am signing on behalf of a minor, incapacitated or otherwise legally dependent patient, I certify that I am a person with legal authority to act on behalf of the patient, including the authority to consent to medical services, and I accept financial responsibility for services rendered.</P>
        <P class="p8 ft2"><SPAN class="ft2">1.</SPAN><SPAN class="ft7">By using the Checkups telehealth portal, I agree to receive telehealth services. Telehealth involves the delivery of health care services, including assessment, treatment, diagnosis, and education, using interactive audio, video, and data communications. During my visit, my Checkups provider and I will be able to see and speak with each other from remote locations.</SPAN></P>
        <P class="p9 ft1"><SPAN class="ft1">2.</SPAN><SPAN class="ft8">I understand and agree that:</SPAN></P>
        <P class="p10 ft1"><SPAN class="ft1">a.</SPAN><SPAN class="ft9">I will not be in the same location or room as my medical provider.</SPAN></P>
        <P class="p11 ft2"><SPAN class="ft2">b.</SPAN><SPAN class="ft7">My Patient First provider is licensed in the country in which I am receiving services. I will report my location accurately during registration.</SPAN></P>
        <P class="p10 ft1"><SPAN class="ft1">c.</SPAN><SPAN class="ft9">Potential benefits of telehealth (which are not guaranteed or assured) include:</SPAN></P>
        <P class="p12 ft2"><SPAN class="ft2">i.</SPAN><SPAN class="ft7">access to medical care if I am unable to travel to my Patient First provider’s office;</SPAN></P>
        <P class="p13 ft1"><SPAN class="ft1">ii.</SPAN><SPAN class="ft8">more efficient medical evaluation and management; and</SPAN></P>
        <P class="p14 ft2"><SPAN class="ft2">iii.</SPAN><SPAN class="ft7">during the </SPAN><NOBR>COVID-19</NOBR> pandemic, reduced exposure to patients, medical staff and other individuals at a physical location.</P>
        <P class="p15 ft1"><SPAN class="ft1">d.</SPAN><SPAN class="ft10">Potential risks of telehealth include:</SPAN></P>
        <P class="p16 ft1"><SPAN class="ft1">(i)</SPAN><SPAN class="ft4">limited or no availability of diagnostic laboratory, </SPAN><NOBR>x-ray,</NOBR> EKG, and other testing, and some prescriptions, to assist my medical provider in diagnosis and treatment;</P>
        <P class="p17 ft2"><SPAN class="ft2">(ii)</SPAN><SPAN class="ft3">my provider’s inability to conduct a </SPAN><NOBR>hands-on</NOBR> physical examination of me and my condition; and</P>
        <P class="p18 ft2"><SPAN class="ft2">(iii)</SPAN><SPAN class="ft11">delays in evaluation and treatment due to technical difficulties or interruptions, distortion of diagnostic images or specimens resulting from electronic</SPAN></P>
        <P class="p19 ft2">transmission issues, unauthorized access to my information, or loss of information due to technical failures. I will not hold Checkups Medical responsible for lost information due to technological failures.</P>
        <P class="p20 ft1"><SPAN class="ft1">•</SPAN><SPAN class="ft4">I further understand that my Checkups Provider’s advice, recommendations, and/or decisions may be based on factors not within his/her control, including incomplete or inaccurate data provided by me. I understand that my Checkups provider relies on information provided by me before and during our telehealth encounter and that I</SPAN></P>
    </DIV>
    <DIV id="page_2">


        <P class="p21 ft1">must provide information about my medical history, condition(s), and current or previous medical care that is complete and accurate to the best of my ability.</P>
        <P class="p22 ft2"><SPAN class="ft2">•</SPAN><SPAN class="ft3">I may discuss these risks and benefits with my Checkups provider and will be given an opportunity to ask questions about telehealth services. I have the right to withdraw this consent to telehealth services or end the telehealth session at any time without affecting my right to future treatment by Checkups Medical Centre.</SPAN></P>
        <P class="p23 ft2"><SPAN class="ft2">•</SPAN><SPAN class="ft3">I understand that the level of care provided by my Checkups provider is to be the same level of care that is available to me through an </SPAN><NOBR>in-person</NOBR> medical visit. However, if my provider believes I would be better served by <NOBR>face-to-face</NOBR> services or another form of care, I will be referred to the nearest Checkups medical center, hospital emergency department or other appropriate health care provider.</P>
        <P class="p24 ft2"><SPAN class="ft2">•</SPAN><SPAN class="ft3">I have the right to receive </SPAN><NOBR>face-to-face</NOBR> medical services at any time by traveling to a Checkups Clinic that is convenient to me.</P>
        <P class="p25 ft1"><SPAN class="ft1">•</SPAN><SPAN class="ft4">In case of an emergency, I will go directly to the nearest hospital emergency room.</SPAN></P>
        <P class="p26 ft2"><SPAN class="ft2">3.</SPAN><SPAN class="ft3">I consent to, understand and agree that:</SPAN></P>
        <P class="p27 ft2"><SPAN class="ft2">•</SPAN><SPAN class="ft3">I have the right to discuss the risks and benefits of all procedures and courses of treatment proposed by my health care provider(s), together with any available alternatives.</SPAN></P>
        <P class="p28 ft1"><SPAN class="ft1">•</SPAN><SPAN class="ft4">Checkups will provide care consistent with the prevailing standards of medical practice but makes no assurances or guarantees as to the results of treatment.</SPAN></P>
        <P class="p29 ft2"><SPAN class="ft2">•</SPAN><SPAN class="ft3">My Checkups provider will not prescribe opioids, Schedule 2 controlled substances (including stimulant medications used to treat attention deficit disorders), or new prescriptions for benzodiazepines to me during a telehealth visit.</SPAN></P>
        <P class="p30 ft2"><SPAN class="ft2">•</SPAN><SPAN class="ft3">I have the right to review and receive copies of my medical records, including all information obtained during a telehealth interaction, subject to Checkups’ standard policies regarding request and receipt of medical records and applicable law.</SPAN></P>
        <P class="p31 ft1"><SPAN class="ft1">•</SPAN><SPAN class="ft4">The laws of the country in which I am located will apply to my receipt of telehealth services. Checkups Medical will protect the privacy of my health information and will not use or disclose it except as permitted by law. By signing this Consent, I give permission to Checkups’ to use and disclose of my health information in accordance with its terms. I understand that all existing confidentiality protections that apply to </SPAN><NOBR>in-person</NOBR> treatment apply to telehealth services.</P>
        <P class="p32 ft1">I may revoke consent by sending written notice as required by the Privacy Notice. Revocation will be effective upon receipt, except to the extent that Checkups Medical has already taken action in reliance on my consent.</P>
        <P class="p33 ft1">Payment Policy</P>
        <P class="p0 ft2">I acknowledge, understand and agree that:</P>
        <P class="p34 ft2"><SPAN class="ft2">1.</SPAN><SPAN class="ft3">It is my responsibility to determine whether Checkups’ services are covered by my insurer. I will pay the cost of any service that is not covered by my health plan for any reason or are covered but applied to a deductible.</SPAN></P>
        <P class="p35 ft2"><SPAN class="ft2">2.</SPAN><SPAN class="ft3">I will pay at time of service any required </SPAN><NOBR>co-payments,</NOBR> <NOBR>co-insurance</NOBR> and deductibles, as well as charges for services not covered by insurance, outstanding balances and delinquent accounts.</P>
        <P class="p36 ft1"><SPAN class="ft1">3.</SPAN><SPAN class="ft4">I assign to Checkups Medical all health care benefits to which I am entitled under any insurance policy or benefit plan and authorize payment of benefits directly to Checkups Medical.</SPAN></P>
        <P class="p37 ft1"><SPAN class="ft1">4.</SPAN><SPAN class="ft4">If I have health care benefits, Checkups will submit a claim to my insurer and allow 60 days for a response. If my insurer does not respond within 60 days, Checkups will assume that the visit is not covered and will, to the extent permitted by law, bill me for the visit charges.</SPAN></P>
    </DIV>
    <DIV id="page_3">


        <P class="p26 ft1"><SPAN class="ft1">5.</SPAN><SPAN class="ft4">By providing my credit card information and receiving telehealth services, I</SPAN></P>
        <P class="p38 ft2"><SPAN class="ft2">(i)</SPAN><SPAN class="ft3">authorize Checkups to charge my credit card for any and all unpaid amounts that Patient First or my insurer determines are my responsibility, and</SPAN></P>
        <P class="p39 ft2"><SPAN class="ft2">(ii)</SPAN><SPAN class="ft3">agree to pay all amounts charged pursuant to this consent and authorization in accordance with the issuing bank cardholder agreement. I agree that Checkups Medical may charge my credit card for such amounts at the end of my telehealth visit or at a later date.</SPAN></P>
        <P class="p40 ft1"><SPAN class="ft1">6.</SPAN><SPAN class="ft4">I will be billed for all unpaid balances deemed by Checkups Medical or my insurer to be my responsibility and agree to pay such amounts in full.</SPAN></P>
        <P class="p41 ft2"><SPAN class="ft2">7.</SPAN><SPAN class="ft3">Checkups reserves the right to deny </SPAN><NOBR>non-emergency</NOBR> services if my account is delinquent.</P>
        <P class="p42 ft1">I understand that I may access and print a copy of this Consent here: <SPAN class="ft12">(insert link of consent)</SPAN></P>
    </DIV>
</BODY>
</HTML>
