
@{
    ViewBag.Title = "_Footer";
}

<footer>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <a href="index.html">
                    <img class="img-fluid small-logo mb-4" src="../themes/checkupsmedicalhub/assets/images/logo-minimal.svg" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <span class="d-block text-center py-2 mb-4 border alternate-border text-uppercase">Contact Details</span><a class="border rounded-pill shadow-none btn btn-danger btn-block text-uppercase border-0 call-cta my-3 d-block" href="tel:+254111050290">
                    24/7 Call Centre Line
                    <span class="fw-bold d-block">+254 111 050 290</span>
                </a><a class="border rounded-pill shadow-none btn btn-primary btn-block text-uppercase border-0 call-cta my-3 d-block bg-primary" href="https://api.whatsapp.com/send?phone=+254115603423&amp;text=Hi" target="_blank">
                    24/7 Whatsapp Line
                    <span class="fw-bold d-block">+254 115 603 423</span>
                </a>
            </div>
            <div class="col-md-4 text-center">
                <span class="d-block text-center py-2 mb-4 border alternate-border text-uppercase">Branches</span>
                <h6 class="fw-bold text-primary text-center">JKIA</h6>
                <p class="mb-0">
                    Airport Trade Center
                    <br>Jomo Kenyatta International Airport
                </p>
                <p>Nairobi, Kenya</p>
                <p class="text-center fw-bold">Open 24/7</p>
                <hr />
                <h6 class="fw-bold text-primary text-center">Upper Hill</h6>
                <p class="mb-0">
                    GA Insurance House
                    <br>Ralph Bunche Road
                    <br>Upperhill
                </p>
                <p>Nairobi, Kenya</p>
                <p class="text-center fw-bold">Open 07:00 AM - 07:00 PM</p>
                <hr />
                <h6 class="fw-bold text-primary text-center">South Sudan</h6>
                <p class="mb-0">
                    Munuki-Gudele Roundabout
                    <br>(Seventh Day Roundabout)
                    <br>Customs Road
                    <br>Jurlika Street
                </p>
                <p>Juba, South Sudan</p>
                <p class="text-center fw-bold">Open 07:00 AM - 07:00 PM</p>
                <hr />
            </div>
            <div class="col-md-4 text-center">
                <span class="d-block text-center py-2 mb-4 border alternate-border text-uppercase">
                    Email &amp; Social
                </span><a class="text-center link-info btn-block font-weight-500 text-decoration-none" href="mailto:info@checkupsmed.com" target="_blank">
                    info@checkupsmed.com
                </a>
                <div class="social-icons">
                    <a href="https://twitter.com/checkupske" target="_blank"><i class="fab fa-twitter"></i></a><a href="https://www.facebook.com/checkupsmed" target="_blank"><i class="fab fa-facebook-f"></i></a><a href="https://www.instagram.com/checkups_ke" target="_blank"><i class="fab fa-instagram"></i></a><a href="https://www.linkedin.com/company/checkups-medical-clinic" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center mb-0 small mt-4 text-muted">&copy; 2021 CheckUps Medical Hub. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
