
@{
    ViewBag.Title = "_Header";
}

<nav class="navbar navbar-light navbar-expand-lg animate__animated animate__fadeIn">
    <div class="container py-3 py-lg-5">
        <a href="https://checkupsmed.com/" class="position-relative">
            <img src="../themes/checkupsmedicalhub/assets/images/logo.svg" class="main-logo-2" alt="CheckUps Medical Hub">
            <div id="visual-identity"></div>
        </a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2">
            <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-2">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item ">
                    <a class="nav-link fw-bold active " href="#" role="" data-bs-toggle="" aria-expanded="">Book Appointment</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="choices">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 text-center">
                <h1 class="display-5 font-weight-500" style="color: var(--primary);">Book Your Appointment</h1>
                <p class="lead">You can book for doctor's appointment, lab and other services or the mobile clinic.</p>
                <h4 class="text-info text-uppercase">Enter details below</h4>
            </div>
        </div>
    </div>
</section>

